<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.hardtinsa.OportunidadesHistorico"
            android:exported="false" />
        <activity
            android:name="com.hardtinsa.VagasHistorico"
            android:exported="false" />
        <activity
            android:name="com.hardtinsa.ContactosDetalhe"
            android:exported="false" />
        <activity
            android:name="com.hardtinsa.CriarContactosActivity"
            android:exported="false" />
        <activity
            android:name="com.hardtinsa.ContactosActivity"
            android:exported="false" />
        <activity
            android:name="com.hardtinsa.ClientesDetalhes"
            android:exported="false" />
        <activity
            android:name="com.hardtinsa.OportunidadeAtividades"
            android:exported="false" />
        <activity
            android:name="com.hardtinsa.Oportunidade_Contactos"
            android:exported="false" />
        <activity
            android:name="com.hardtinsa.CriarCliente"
            android:exported="false"
            android:label="@string/title_activity_criar_clientes"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.hardtinsa.EntrevistasTecnicas"
            android:exported="false" />
        <activity
            android:name="com.hardtinsa.UtlizadorSearchBox"
            android:exported="false" />
        <activity
            android:name="com.hardtinsa.CalendarioListView"
            android:exported="false" />
        <activity
            android:name="com.hardtinsa.ActivitySugerirVaga"
            android:exported="false" />
        <activity
            android:name="com.hardtinsa.Oportunidades_detalhe"
            android:exported="false" />
        <activity
            android:name="com.hardtinsa.Ideias_detalhe"
            android:exported="false" />
        <activity
            android:name="com.hardtinsa.PerfilPreview"
            android:exported="false" />
        <activity
            android:name="com.hardtinsa.BeneficiosDetalhes"
            android:exported="false" />
        <activity
            android:name="com.hardtinsa.EditarOportunidadesActivity"
            android:exported="false" />
        <activity
            android:name="com.hardtinsa.CriarOportunidadesActivity"
            android:exported="false" />
        <activity
            android:name="com.hardtinsa.Welcome"
            android:exported="false" />
        <activity
            android:name="com.hardtinsa.PasswordChanged"
            android:exported="false" />
        <activity
            android:name="com.hardtinsa.SignUP"
            android:exported="true" />
        <activity
            android:name="com.hardtinsa.VerifyEmail"
            android:exported="true" />
        <activity
            android:name="com.hardtinsa.MainPage"
            android:exported="true" />
        <activity
            android:name="com.hardtinsa.VerNotificacoes"
            android:exported="true" />
        <activity
            android:name="com.hardtinsa.ClientesActivity"
            android:exported="true" />
        <activity
            android:name="com.hardtinsa.BaseActivity"
            android:exported="true" />
        <activity
            android:name="com.hardtinsa.IdeiasActivity"
            android:exported="true" />
        <activity
            android:name="com.hardtinsa.CriarIdeiasActivity"
            android:exported="true" />
        <activity
            android:name="com.hardtinsa.OportunidadesActivity"
            android:exported="true" />
        <activity
            android:name="com.hardtinsa.VagasActivity"
            android:exported="true" />
        <activity
            android:name="com.hardtinsa.CalendarioActivity"
            android:exported="true" />
        <activity
            android:name="com.hardtinsa.BeneficiosActivity"
            android:exported="true" />
        <activity
            android:name="com.hardtinsa.NotificacoesActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.hardtinsa.PerfilActivity"
            android:exported="true" />
        <activity
            android:name="com.hardtinsa.EditarIdeiasActivity"
            android:exported="true" />
        <activity
            android:name="com.hardtinsa.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.hardtinsa.VagasDetalhes"
            android:exported="true" />
        <activity
            android:name="com.hardtinsa.PerfilEditar"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hardtinsa.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>